{% extends "layout_admin.html" %}
{% block title %}Dash{% endblock %}

{% block js %}

<script type="text/javascript">
    $.ajax({
        url: "/admin/get-balance",
        data: {},
        type: "GET",
        beforeSend: function() {        
        },
        error: function(data) {
         
        },
        success: function(data) {
            var data = $.parseJSON(data);
            $('.balances_usdt').html(data.balances_usdt);
            $('.balances_btc').html(data.balances_btc);
            $('.balances_eth').html(data.balances_eth);
            $('.balances_ltc').html(data.balances_ltc);
            $('.balances_xrp').html(data.balances_xrp);
        }
    });
</script>

{% endblock %}
	

{% block main %}
  
   <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="card card-wallet" data-color="navy">
         <div class="content">
            <div class="row">
               <div class="col-xs-12">
                  <div class="numbers">
                     <p>Number User</p>
                     <span class="usd_balance">{{ (data.total_user) | number_format}}</span> 
                  </div>
               </div>
            </div>
         </div>
         <div class="card-footer">
            <div class="stats">
               
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="card card-wallet" data-color="navy">
         <div class="content">
            <div class="row">
               <div class="col-xs-12">
                  <div class="numbers">
                     <p>Number Investment</p>
                     <span class="usd_balance">{{ (data.total_lending) | number_format}}</span> 
                  </div>
               </div>
            </div>
         </div>
         <div class="card-footer">
            <div class="stats">
               
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="card card-wallet" data-color="navy">
         <div class="content">
            <div class="row">
               <div class="col-xs-12">
                  <div class="numbers">
                     <p>BTC Coinpayment</p>
                     <span class="balances_btc">{{data.balances_btc}}</span> 
                  </div>
               </div>
            </div>
         </div>
         <div class="card-footer">
            <div class="stats">
               
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="card card-wallet" data-color="navy">
         <div class="content">
            <div class="row">
               <div class="col-xs-12">
                  <div class="numbers">
                     <p>ETH Coinpayment</p>
                     <span class="balances_eth">{{data.balances_eth}}</span> 
                  </div>
               </div>
            </div>
         </div>
         <div class="card-footer">
            <div class="stats">
               
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="card card-wallet" data-color="navy">
         <div class="content">
            <div class="row">
               <div class="col-xs-12">
                  <div class="numbers">
                     <p>LTC Coinpayment</p>
                     <span class="balances_ltc">{{data.balances_ltc}}</span> 
                  </div>
               </div>
            </div>
         </div>
         <div class="card-footer">
            <div class="stats">
               
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="card card-wallet" data-color="navy">
         <div class="content">
            <div class="row">
               <div class="col-xs-12">
                  <div class="numbers">
                     <p>XRP Coinpayment</p>
                     <span class="balances_xrp">{{data.balances_xrp}}</span> 
                  </div>
               </div>
            </div>
         </div>
         <div class="card-footer">
            <div class="stats">
               
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="card card-wallet" data-color="navy">
         <div class="content">
            <div class="row">
               <div class="col-xs-12">
                  <div class="numbers">
                     <p>USDT Coinpayment</p>
                     <span class="balances_usdt">{{data.balances_usdt}}</span> 
                  </div>
               </div>
            </div>
         </div>
         <div class="card-footer">
            <div class="stats">
               
            </div>
         </div>
      </div>
   </div>
   
   <div class="col-md-12 text-center">

      
      {% if (data.check_admin['status_withdraw']) == 1%}
         <h3>Status Withdraw: Enlabel</h3>
         <a href="/admin/withdraw-disable">
            <button class="btn btn-danger">Disable</button>
         </a>
      {% endif %}
      
      {% if (data.check_admin['status_withdraw']) == 0   %}
         <h3>Status Withdraw: Disable</h3>
         <a href="/admin/withdraw-enlabel">
            <button class="btn btn-success">Enlabel</button>
         </a>
      {% endif %}
      
   </div>   
</div>
    

{% endblock %}

